<?php echo($this->doctype() . "\n"); ?>
<?php
  $auth = new Project_Business_Auth();
  $user = $auth->checkAuthenticatedUser();
?>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> <?php if($this->vTitle){echo $this->vTitle;}else {echo "Default";} ?></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
<!--  /*      <link rel="stylesheet" href="css/bootstrap.css"> --> 
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <?= $this->headLink() ?>
  <!--  <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/main.css"> 
        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script> -->
    </head>
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
<?php if($this->user) {?>
<!-- header for logged in user -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project</a>
                    <div class="nav-collapse collapse clearfix">
                        <ul class="nav pull-right">
                              <li class="divider-vertical"></li>
                            <li><a href="/stats/"><i class="icon-user"></i>&nbsp;<?php echo $this->user->name  ?></a></li>
                              <li class="divider-vertical"></li>
                            <li class="active"><a href="/"><i class="icon-film"></i> Newsfeed</a></li>
                              <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                                </ul>
                            </li>
                              <li class="divider-vertical"></li>
                        </ul>
                        <div class="input-append pull-right" style="margin-top: 5px;">
                            <input class="span5" id="appendedInputButton" type="text" placeholder="Search for movies and people..">
                            <a><span class="add-on"><i class="icon-search"></i></span></a>
                        </div>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div><!--/.navbar-inner -->
        </div><!--/.nav-bar -->

<?php }else{ ?>
<!-- header for !logged in user --> 
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project</a>
                    <div class="nav-collapse collapse clearfix">
                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li><a href="#"><i class="icon-user"></i> Log In</a></li>
                                <li class="divider-vertical"></li>
                            </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div><!--/.navbar-inner -->
        </div><!--/.nav-bar -->

<?php } ?>
<!-- social division : start -->
<!-- 
<div class="social margin-top text-center ">
    <div class="fb-like" style="vertical-align:top; margin-right:15px;" data-href="http://www.facebook.com/Voblr/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" ></div>
    <div class="g-plusone" data-size="medium" data-href="http://www.voblr.com"></div>
    <a style="margin-right:30px;"href="http://pinterest.com/voblr/"><img src="http://passets-ec.pinterest.com/images/about/buttons/big-p-button.png" style="vertical-align:baseline" width="20" height="20" alt="Follow Me on Pinterest" /></a>
    <a href="https://twitter.com/voblr" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false"></a>
</div>
-->
<!-- social division : end-->
<?php
  echo $this->layout()->content
?>
<?= $this->headScript() ?>
</body>
</html>
