<div id="userImgURL" style="display:none">
  <?=isset($this->user->picURL) ? $this->user->picURL : $this->defaultpicURL; ?>
</div>
<div id="userName" style="display:none"><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName; ?></div>
<div id="tgt-movieId" style="display:none"><?= $this->moviedetail["id"];?></div>
<div id="tgt-userId" style="display:none"><?=isset($this->user->id) ? $this->user->id : '';?></div>
	<div id="features" class="features_page">
        <div class="container">
            <div class="features1">
                <!-- header -->
                <h2 class="section_header">
                </h2> 

                <div class="row">
                    <div class="span12">
                    </div>
                </div>

			<div class="row"> 
				<div class="span8 offset2"> 
					<div class="post">
                        <div class="row">
                            <div class="span2">
                                <a>
                                    <img class="main_pic" alt="main pic" src="<?=$this->moviedetail['imageURL'][1].'?width=165&height=165'?>">
                                </a>
                            </div>
                            <div class="span3 info">
                                    <h3> <?=substr($this->moviedetail["name"],0,39);if(strlen($this->moviedetail["name"])>39){echo " ...";}?></h3>
								
                                <div class="post_info">
                                    <div class="author">
                  <!--      <h6>Cast: <?=substr($this->moviedetail["cast"],0,40);if(strlen($this->moviedetail["cast"])>40){echo " ...";}?></h6>
                        <h6>Director: <?=substr($this->moviedetail["director"],0,40);if(strlen($this->moviedetail["director"])>40){echo " ...";}?></h6> -->
                        <h6>Description: <?=substr($this->moviedetail["description"],0,80);if(strlen($this->moviedetail["description"])>80){echo " ...";}?></h6>
                        <button class="btn btn-small btn-danger vobItInit" data-toggle="tooltip" data-placement="right" title="Watching/Watched <?=$this->moviedetail['name']?>?" style="position: static" tgt-objid="<?=$this->moviedetail["id"]?>" tgt-mvname="<?=$this->moviedetail["name"]?>"><i class="icon-facetime-video icon-white"></i>  VOB IT</button>
                                </div>
                            </div>
                        </div>
				<div class="span2 sidebar">
                    <ul class="sidebar_menu">
                        <li> VOB's : <?=$this->moviedetail['vobCount']?></li>
                    </ul>
                </div>
            </div>	
		</div>
		</div>
	</div>

            <div class="row">
                <div class="span3 offset2">
                    <div class="btn-group ui-controlgroup" data-toggle="buttons-radio">
                        <a href="#feedItemPopular" type="button" class="btn">Popular</a>
                        <a href="#feedItemRecent" type="button" class="btn">Recent</a>
                    </div>    
                </div>    
            </div>    
						<div class="row">
							<div class="alert span4 alert-block hide noitems offset4" style="margin-top:30px;">
								<h4>Sorry!</h4>
									No items to Show
							</div>
						</div>
			<div class="row" id="portfolio">
                  <div class="span8 offset2 sidebar">
                      <ul class="thumbnails queryResult recent_posts">
                      </ul>
                  </div>
              </div>
        <div class="spinner"><img src="/static/images/ajax-loader.gif"></div>


            </div>
        </div>
    </div>
<a href="#" class="scrollTopButton btn btn-large"><i class="icon-arrow-up"></i></a>
<div id="vobItModal" class="modal fade hide" data-backdrop="static">
	<div id="vobEdit">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><span style="padding-right: 10px;"><img src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"></span><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName;?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
		</div>
		<div class="modal-body">
			<textarea id="mytextarea" class="input-xxlarge" placeholder="How's it, <?=isset($this->user->name) ? $this->user->name : $this->defaultUserName; ?>?"></textarea> 
		</div>
		<div class="modal-footer">
			<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">POST IT</button>
		</div>
	</div>
	<div id="vobSuc" class="hide alert alert-success">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<p><strong>Posted Successfully!</strong> </p>
		<p>To know the shows you watched and VOBBED <a id="statRedir" href="/stats/">click here</a> </p>
		<p>To see others VOB'S on this show <a id="movieRedir">click here</a> </p>
	</div>
</div>

<script id="feedItemRecentTmpl" type="text/template">
{{#vobList}}
                <li class="span8 itemIterate marginBottom">
                          <div class="thumbnail">
                  




                    <div class="userVobObj" id="{{vobId}}"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="{{user.name}}" src="{{user.picURL}}?type=square"></a> 
                            <div class="checkIn">
                                <strong><a href="/stats/{{user.userId}}/">{{user.name}}</a></strong><small> watching </small> <a href="/movie/{{movie.movieId}}/">{{movie.name}}</a>
                            {{#isFollowing}}
                            <a class="btn btn-small pull-right disabled hide"><i class="icon-ok"></i> Following </a>
                            {{/isFollowing}}
                            {{^isFollowing}}
                            <a class="hideFollow{{user.userId}} btn btn-small btn-danger pull-right followInit hide" href="#followIt" tgt-uid="{{user.userId}}"><i class="icon-play icon-white"></i> Follow </a>
                            {{/isFollowing}}
                                <div class="muted"><time class="timeago timeStamp" datetime="{{timestamp}}"></time></div>
                            </div>
                            <div class="review">{{{vobText}}}</div>
                        </div> <!-- /vobhead --> 
                        <div class="userResponseStats clearfix">
                            <span class="pull-left" id="voteResult{{vobId}}"> 
                                {{#userVotedUp}}
                                <i class="icon-chevron-up"></i>You LIKED this
                                {{/userVotedUp}}
                                {{^userVotedUp}}
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmUp{{vobId}}"><i class="icon-chevron-up"></i>LIKE</a>  
                                {{/userVotedUp}}
                            </span>
                        </div>
                        <div class="userResponseStats clearfix">
                           <span> <span class="label label-important" id="voteUpCount{{vobId}}">{{voteUpCount}}</span> LIKES </span> <span style="padding-left:1em;"> <span>{{vobComments.count}} </span><i class="icon-comment"></i> <a tgt-vid="{{vobId}}" class="showComment">COMMENTS</a></span>
                        </div>
                        <div id="showThis{{vobId}}" class="hide">
                        <div id="userReplies{{vobId}}">
                        {{#vobComments.comments}}
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="{{user.picURL}}?type=square"> 
                            <div class="userReplyText">
                                <b>    <a>{{user.name}}</a></b> {{commentText}}
                            </div>
                        </div>
                        {{/vobComments.comments}}
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"> 
                            <div class="userReplyText">
                                <textarea class="input-medium" rows="1" cols="50" id="txt{{vobId}}" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="{{vobId}}"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>
                        </div>
                    </div> <!--/userVobObj -->                
                    </div> <!--/thumbnail -->                
                </li> <!--/row -->                
{{/vobList}}
</script>
<script id="feedItemPopularTmpl" type="text/template">
{{#vobList}}
                <li class="span8 itemIterate marginBottom">
                          <div class="thumbnail">




                    <div class="userVobObj" id="{{vobId}}"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="{{user.name}}" src="{{user.picURL}}?type=square"></a> 
                            <div class="checkIn">
                                <strong><a href="/stats/{{user.userId}}/">{{user.name}}</a></strong><small> watching </small> <a href="/movie/{{movie.movieId}}/">{{movie.name}}</a>
                            {{#isFollowing}}
                            <a class="btn btn-small pull-right disabled hide"><i class="icon-ok"></i> Following </a>
                            {{/isFollowing}}
                            {{^isFollowing}}
                            <a class="hideFollow{{user.userId}} btn btn-small btn-danger pull-right followInit hide" href="#followIt" tgt-uid="{{user.userId}}"><i class="icon-play icon-white"></i> Follow </a>
                            {{/isFollowing}}
                                <div class="muted"><time class="timeago timeStamp" datetime="{{timestamp}}"></time></div>
                            </div>
                            <div class="review">{{{vobText}}}</div>
                        </div> <!-- /vobhead --> 
                        <div class="userResponseStats clearfix">
                            <span class="pull-left" id="voteResult{{vobId}}"> 
                                {{#userVotedUp}}
                                <i class="icon-chevron-up"></i>You LIKED this
                                {{/userVotedUp}}
                                {{^userVotedUp}}
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmUp{{vobId}}"><i class="icon-chevron-up"></i>LIKE</a> 
                                {{/userVotedUp}}
                            </span>
                        </div>
                        <div class="userResponseStats clearfix">
                           <span> <span class="label label-important" id="voteUpCount{{vobId}}">{{voteUpCount}}</span> LIKES </span><span style="padding-left:1em;"> <span>{{vobComments.count}} </span><i class="icon-comment"></i> <a tgt-vid="{{vobId}}" class="showComment">COMMENTS</a></span>
                        </div>
                        <div id="showThis{{vobId}}" class="hide">
                        <div id="userReplies{{vobId}}">
                        {{#vobComments.comments}}
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="{{user.picURL}}?type=square"> 
                            <div class="userReplyText">
                                <b>    <a>{{user.name}}</a></b> {{commentText}}
                            </div>
                        </div>
                        {{/vobComments.comments}}
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"> 
                            <div class="userReplyText">
                                <textarea class="input-medium" rows="1" cols="50" id="txt{{vobId}}" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="{{vobId}}"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>
                        </div>
                    </div> <!--/userVobObj -->                
                    </div> <!--/thumbnail -->                
                </li> <!--/row -->                
{{/vobList}}
</script>

<div id="logInDialog" class="modal hide fade" data-backdrop="static"> 
   <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body"> 
              <div> <a style="margin-left:30%;" href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a> <img class="ajaxfb hide" src="/static/images/ajax-loader.gif"></div>
    </div>
</div>

