   <div class="containerHeading">
    <h3>Password Recovery</h3>
	</div>
	<div class="desc">
	Sorry but it seems that your email address is not registered with us.
	<br>wanna <a href="/passwordreset">try again</a> ?
	</div>