   <div class="containerHeading">
    <h2>Password Recovery</h2>
	</div>
	<div class="desc">
	An email containing password reset instructions has been sent to <b><?php echo $this->emailId ?></b>
	</div>