
<script id="feedItemTimelineTmpl" type="text/template">
{{#vobList}}
                <div class="row itemIterate marginBottom">
                    <div class="span2 mv-info mosaic-block bar2 shadow-box offset3">
                        <span class="mosaic-overlay">
                            <div class="mv-details">
                                <div class="mv-name">{{movie.name}}</div>
                                <div class="mv-vob-btn"><button class="btn btn-mini btn-danger vobItInit" tgt-objid="{{movie.movieId}}" tgt-mvname="{{movie.name}}"><i class="icon-pencil icon-white"></i> Vob it</button></div>
                            </div>
                        </span>
                        <a href="/movie/{{movie.movieId}}/"><img class="movieImageVob" alt="" src="{{movie.picUrl}}"></a>
                    </div>
                    <div class="span5 userVobObj shadow-box" id="{{vobId}}"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="{{user.name}}" src="{{user.picURL}}?type=square"></a> 
                            <div class="checkIn">
                                <b><a href="/stats/{{user.userId}}/">{{user.name}}</a></b><small> on <a href="/movie/{{movie.movieId}}/">{{movie.name}}</a></small>
                            {{#isFollowing}}
                            <a class="btn btn-small pull-right disabled"><i class="icon-ok"></i> Following </a>
                            {{/isFollowing}}
                            {{^isFollowing}}
                            <a class="hideFollow{{user.userId}} btn btn-small btn-danger pull-right followInit hide" href="#followIt" tgt-uid="{{user.userId}}"><i class="icon-play icon-white"></i> Follow </a>
                            {{/isFollowing}}
                                <div><time class="timeago timeStamp" datetime="{{timestamp}}"></time></div>
                            </div>
                            <div class="review">{{vobText}}</div>
                        </div> <!-- /vobhead --> 
                        <div class="userResponseStats clearfix">
                            <span class="pull-left">Was this review helpful?</span>
                            <span class="pull-right" id="voteResult{{vobId}}"> 
                                {{#userVotedUp}}
                                <i class="icon-chevron-up"></i>You voted up this
                                {{/userVotedUp}}
                                {{^userVotedUp}}
                                {{#userVotedDown}}
                                <i class="icon-chevron-down"></i>You voted down this
                                {{/userVotedDown}}
                                {{^userVotedDown}}
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmUp{{vobId}}"><i class="icon-chevron-up"></i>Voteup</a> .  
                                <a href="#voteDownIt" class="voteDownInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmDown{{vobId}}"><i class="icon-chevron-down"></i></a> 
                                {{/userVotedDown}}
                                {{/userVotedUp}}
                            </span>
                        </div>
                        <div class="userResponseStats clearfix">
                           <span class="pull-right"> <span class="label label-important" id="voteUpCount{{vobId}}">{{voteUpCount}}</span> <i class="icon-chevron-up"></i> . <span id="totalCount{{vobId}}">{{voteDownCount}}</span> <i class="icon-chevron-down"></i></span> <span class="pull-left"> <span>{{vobComments.count}} </span><i class="icon-comment"></i> <a tgt-vid="{{vobId}}" class="showComment">Comments</a></span>
                        </div>
                        <div id="showThis{{vobId}}" class="hide">
                        <div id="userReplies{{vobId}}">
                        {{#vobComments.comments}}
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="{{user.picURL}}?type=square"> 
                            <div class="userReplyText">
                                <b>    <a>{{user.name}}</a></b> {{commentText}}
                            </div>
                        </div>
                        {{/vobComments.comments}}
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=$this->user->picURL;?>?type=square"> 
                            <div class="userReplyText">
                                <textarea class="span5" rows="1" cols="50" id="txt{{vobId}}" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="{{vobId}}"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>
                        </div>
                    </div> <!--/userVobObj -->                
                </div> <!--/row -->                
{{/vobList}}
</script>
