<div id="fancybox_popup">
  <input type="hidden" value ="<?=$this->userid?>>" name="userid" />
  <input type="hidden" value ="<?=$this->userdisplayname?>" name="userdisplayname" />
  <input type="hidden" value ="<?=$this->userimageURL?>" name="userimageURL" />
  
	<div style="width: 500px; display: none;" id="movie-vob-popup">
	  <div class="content"> 
	      <img  id="vob-from-user-img" src="" alt="" style="position:absolute; top:10px; left:10px; width:20px; height:20px;" class="block-it"> <div style="margin-left:42px;"/>
	      <a id="vob-from-user-name"></a> watching <a href="" id="vob-from-user-movieurl">
	        <span id="vob-from-user-moviename"></span>
	      </a>
	      <p><textarea placeholder="Describe yourself with 4 words..." cols="50" rows="4" id="vob-from-user-vobtext"></textarea></p>
	      <div>
	        <input type="submit" value="vob" class="vob_movie"/>
	       </div>
	   </div>
	</div>
</div>

<div id="fancybox_popup">
  <div style="width: 700px;  height: 300px; display: none;" id="followers-following-popup">
    <div class="content"> 
        <img  id="ff-user-img" src="" alt="" style="position:absolute; top:10px; left:10px; width:20px; height:20px;" class="block-it"> <div style="margin-left:42px;"/>
        <a href="" id="ff-user-id"></a>&nbsp;<p id="ff_action_list"></p>
        <img id="loading_followers_followings" alt="loading" src="/static/images/common/loading.gif" width="25" />
        <div id="followers_following_list">
          
        </div>
     </div>
  </div>
</div>