a:link {
color:#D60718;
text-decoration: none;
}    /* unvisited link */

a:visited {
color:#D60718;
text-decoration: none;
}

a:hover {
color:#D60718;
text-decoration: none;
}
  body {

  border-top: 4px solid #D60718;
    font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 50px;
  }
  .desc {
  color: #666666;
    font: 18px cronos-pro,Georgia,serif;
  line-height: 1.4;
  width:600px;
    padding:20px;

  }

  .mail {
  margin-left: 20px;
  }

  .mail_text_box{
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 15px;
    padding: 7px 8px;
    resize: none;
    width: 300px;
}

.mail_text_box:focus{
    border-color: #D60718 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
    outline: 0 none;
}

.sendButton {
max-height: 40px;
max-width: 100px;
color: #FFFFFF;
background: #686868;
padding: 7px;
cursor: pointer;
font-size: 12;
border: none;

}

.imgBox {
        border: 1px solid #EBEBEB;
        box-shadow: 0 1px 10px #CCCCCC;
        #display: none;
        margin-top: 50px;
        float:right;
        overflow: hidden;
        padding: 10px;
        #width: 100px;

}
  .containerHeading {
  color: #D60718;
  border-bottom: 1px solid #EBEBEB;
  }
  
  
  .resetButton {
 background-color: #D60718;
    box-shadow: 1px 1px 10px #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 155px;
    outline: medium none;
    padding: 4px 20px;
    text-decoration: none;
    border: none;

    }
  
