<!-- Container : start -->
        <div class="container">
            <div id="box" class="hero-unit shadow-box">
				<blockquote>
					<p>I've been trying to find the similar app which lists the movies I watched. Truly awesome!!</p>
					<small>Alfred<cite title="Source Title"></cite></small>
				</blockquote>
				<h2>Watching a Movie? Vob it!</h2>
                <p>Explore what others are watching and know what they talk about movies.</p>
            </div>
            <div class="well well-large shadow-box">
				<div class="row"> 
					<div class="span4 offset4"> 
						<h2 class="adjustHowzit">Vob it now!!</h2>	
					</div>
				</div> 
				<h1 class="row"> 
					<div class="span3 offset3 "> 
						<a href="#logInDialog" class="btn btn-large btn-danger dialogCtrl">Log In with Voblr</a>	
					</div>
					<div class="span3"> 
						<a href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a>	
					</div>
				</h1> 
			</div>
        </div> <!-- /container -->

<div id="logInDialog" class="modal hide fade" data-backdrop="static">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal">&times;</a>
		<h3 id="myModalLabel">Login</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-error hide wNamePass">
			Wrong Email/Username and Password combination. 
		</div>
		 <p>
			<form class="form-horizontal" name="input" id="loginForm" onsubmit="return submit_form(1,'loginForm');" method="post">
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email or Username</label>
					<div class="controls">
						<input type="text" id="login_field" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">Password</label>
					<div class="controls">
						<input type="password" id="password_field" placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn signIn" data-loading-text="Signing In...">Sign In</button>
					</div>
				</div>
				<div>Not on Voblr? <a href="#signUpDialog"  data-toggle="modal"class="dialogCtrl">SignUp</a></div>
				<div><p>Can't access your account? <a href="#forgotPwdDialog"  data-toggle="modal" class="dialogCtrl">Forgot Password</a></p> </div>
				<div><a href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a></div>
			</form>
		</p>
	</div>
</div>

    <div id="signUpDialog" class="modal hide fade" data-backdrop="static">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">&times;</a>
			<h3 id="myModalLabel">Sign Up</h3>
		</div>
		<div class="modal-body">
			 <p>
				<form class="form-horizontal">
					<div class="control-group error">
						<label class="control-label" for="inputEmail">Full Name</label>
						<div class="controls">
							<input type="text" id="login_field" placeholder="ex: Amol Bondre" id="name inputError">
							<span class="help-inline"> Please input your Full Name </span> </br>
							<span class="help-inline"> Full Name should atleast contain 5 alphabets</span>
						</div>
					</div>
				<div class="control-group error">
					<label class="control-label" for="inputEmail">Username</label>
					<div class="controls">
						<input type="text" id="login_field" placeholder="ex: amolbondre" id="username inputError">
							<span class="help-inline"> Username already taken </span> </br>
							<span class="help-inline"> Username should atleast contain 5 alphabets</span>
					
					</div>
				</div>
				<div class="control-group error">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="text" id="login_field" placeholder="ex: amolbondre@gmail.com" id="emai_id inputError">
							<span class="help-inline"> Email already registered </span> </br>
							<span class="help-inline"> Enter a valid email id </span>
					</div>
				</div>
				<div class="control-group error">
					<label class="control-label" for="inputEmail">Password</label>
					<div class="controls">
						<input type="password" id="login_field" placeholder="******" id="password inputError">
							<span class="help-inline"> Password should atleast contain 5 alphabets</span>
					</div>
				</div>
				<div class="control-group error">
					<label class="control-label" for="inputEmail">Re-Password</label>
					<div class="controls">
						<input type="password" id="login_field" placeholder="******" id="re_password inputError">
							<span class="help-inline"> Passwords not matched </span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn submit_registration_form">Register</button>
					</div>
				</div>
				<div>Have an Account? <a href="#logInDialog"  data-toggle="modal" class="dialogCtrl">Log In</a></div>
				<div><p>Can't access your account? <a href="#forgotPwdDialog"  data-toggle="modal" class="dialogCtrl">Forgot Password</a></p> </div>
				<div><a href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a></div>
			</form>
		</p>
		</div>
	</div>

<div id="forgotPwdDialog" class="modal hide fade" data-backdrop="static">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal">&times;</a>
		<h3 id="myModalLabel">Forgot Password</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Mail sent!</strong> Please follow the instructions in the mail. </div>
		 <p>
			<form class="form-horizontal">
				<div class="control-group error">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="text" id="login_field error" placeholder="Email">
						<span class="help-inline"> Email not Registered</span> </br>
						<span class="help-inline"> System error! Please try again</span> </br>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Submit</button>
					</div>
				</div>
				<div>Have an account? <a href="#logInDialog"  data-toggle="modal" class="dialogCtrl">Log In</a> </div>
				<div><p>Not on Voblr? <a href="#signUpDialog" data-toggle="modal" class="dialogCtrl">SignUp</a></p></div>
				<div><a href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a></div>
			</form>
		</p>
	</div>
</div>
