<br />
<br />
<br />
This is registration phtml
<br />
<!--<form name="input" >-->
<div class="registration_form">
Name: <input type="text" id="name" value="<?=$this->name?>"/><br />
Username: <input type="text" id="username" /><br />
Password: <input type="password" id="password" /><br />
RetypePassword: <input type="password" id="re_password" /><br />
email_id: <input type="text" id="email_id" value="<?=$this->email?>"/> <br />
<input type="text" id="signup_via" value="<?=$this->signup_via?>" hidden="true"/>
<input type="hidden" id="auth_regist_key" value="<?=$this->auth_regist_key?>">
<input class="submit_registration_form" type="button" value="Submit" />

<a href="#" class="submit_registration_form">Submit form</a>
</div>
<!--</form>-->