<body>
Hi, <?=$this->name?>
<br />
<br />
Click below link to verify your email address. or copy paste in your browser <br />
<?=$this->verificationlink?>
<br />
<br />
Thankyou vor using Voblr.
</body>