        <div class="container" style="margin-bottom: 30%;">
            <!-- Main hero unit for a primary marketing message or call to action -->
			<div class="row">
				<div class="span6 offset2">
<p>
<h4>CHANGE PROFILE INFO</h4>
<hr>
            <form class="form-horizontal" name="input" onsubmit="" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Full Name</label>
                    <div class="controls">
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn signIn" data-loading-text="Submitting...">Submit</button>
                    </div>
                </div>
            </form>
</p>

<p style="margin-top:70px;">
<h4>RESET PASSWORD</h4>
<hr>
            <form class="form-horizontal" name="input" onsubmit="" method="post">
                <div class="control-group">
                    <label class="control-label" >Password</label>
                    <div class="controls">
                        <input type="password" placeholder="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Re-type Password</label>
                    <div class="controls">
                        <input type="password" placeholder="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn signIn" data-loading-text="Submitting...">Submit</button>
                    </div>
                </div>
            </form>
</p>
				</div>
			</div>
        </div> <!-- /container -->
