   <div class="containerHeading">
    <h3>Password Recovery</h3>
	</div>
	<div class="desc">
	Oops.. Mail sending failed. Hold on <a href="http://dev2.ibhupi.com/passwordreset/">try again</a>?
	</div>
