<div id="userImgURL" style="display:none">
  <?=isset($this->user->picURL) ? $this->user->picURL : $this->defaultpicURL; ?>
</div>
<div id="userName" style="display:none"><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName;?></div>
<div id="tgt-userhideId" style="display:none"><?=$this->statsuser->id?></div>
<div id="tgt-userId" style="display:none"><?=$this->statsuser->id?></div>
    <div id="features" class="features_page">
        <div class="container">
            <div class="features1">
                <!-- header -->
            <h2 class="section_header">
                </h2> 

                <div class="row">
                    <div class="span12">
                    </div>
                </div>
            <div class="row"> 
                <div class="span8 offset2"> 
                    <div class="post">
                        <div class="row">
                            <div class="span2" style="min-height:170px;">
                                <a>
                                    <img class="main_pic" alt="main pic" src="<?=$this->statsuser->picURL.'?width=165&height=165'?>">
                                </a>
                            </div>
                            <div class="span3 info">
                                    <h3><?=$this->statsuser->name?></h3>
                                <div class="post_info">
                                    <div class="author">
                                    <?php if(isset($this->statuserextra['work'])){ ?>
                                    <h6 style="word-wrap: break-word;">Works at 
                                    <?=$this->statuserextra['work'] ?>
                                    </h6>
                                    <?php }elseif(isset($this->statuserextra['education'])){ ?>
                                    <h6 style="word-wrap: break-word;">Studied at 
                                    <?=$this->statuserextra['education'] ?>
                                    </h6>
                                    <?php } ?>
                                    <?php if(isset($this->statuserextra['location'])){ ?>
                                    <h6><?=$this->statuserextra['location'] ?></h6>
                                    <?php } ?>
                                    </div>
                                <div> 
                                <?php if($this->statsuser->isFollowing=='true'){?>
                                    <a style="position:static;" class="btn btn-small disabled hideFollow<?=$this->statsuser->id?>"><i class="icon-ok"></i> Following </a>
                                <?php } else { ?> 
                                    <a style="position:static;" class="hideFollow<?=$this->statsuser->id?> btn btn-small btn-danger followInit hide" href="#followIt" tgt-uid="<?=$this->statsuser->id?>"><i class="icon-play icon-white"></i> Follow </a>
                                     <?php } ?> 

                                 </div>
                            </div>
                        </div>
                <div class="span2 sidebar">
                    <ul class="sidebar_menu">
                        <li>VOB's : <?=$this->statsuser->noOfVobs?></li>
                        <li>Followers : <?=$this->statsuser->noOfFollowers?></li>
                        <li>Following : <?=$this->statsuser->noOfFollowing?></li>
                    </ul>
                </div>
            </div>    
        </div>
        </div>
    </div>
            <div class="row">
                <div class="span3 offset2">
                    <div class="btn-group ui-controlgroup" data-toggle="buttons-radio">
                        <a href="#feedItemTimeline" type="button" class="btn">Timeline</a>
                        <a href="#feedItemMoviesWatched" type="button" class="btn">Movies Watched</a>
                        <a href="#feedItemFollowers" type="button" class="btn">Followers</a>
                        <a href="#feedItemFollowing" type="button" class="btn">Following</a>
                    </div>    
                </div>    
            </div>   
                        <div class="row">
                            <div class="alert span4 alert-block hide noitems offset4" style="margin-top:30px;">
                                <h4>Sorry!</h4>
                                    No Items to show.
                            </div>
                        </div>

            <div class="row" id="portfolio">
                  <div class="span8 offset2 sidebar">
                      <ul class="thumbnails queryResult recent_posts">
                      </ul>
                  </div>
              </div>
            <div class="spinner"><img src="/static/images/ajax-loader.gif"></div>




            </div>
        </div>
    </div>

<a href="" class="scrollTopButton btn btn-large"><i class="icon-arrow-up"></i></a>
<div id="vobItModal" class="modal fade hide" data-backdrop="static">
	<div id="vobEdit">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><span style="padding-right: 10px;"><img src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"></span><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName;?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
		</div>
		<div class="modal-body">
			<textarea id="mytextarea" class="input-xxlarge" placeholder="How's it, <?=isset($this->user->name) ? $this->user->name : $this->defaultUserName;?>?"></textarea> 
		</div>
		<div class="modal-footer">
			<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">POST IT</button>
		</div>
	</div>
	<div id="vobSuc" class="hide alert alert-success">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<p><strong>Posted Successfully!</strong> </p>
		<p>To know the shows you watched and VOBBED <a id="statRedir" href="/stats/">click here</a> </p>
		<p>To see others VOB'S on this show <a id="movieRedir">click here</a> </p>
	</div>
</div>
<script id="feedItemTimelineTmpl" type="text/template">
{{#vobList}}
                <li class="span4 itemIterate marginBottom applyMasonry">
                          <div class="thumbnail">
                  
                            <div class="pic">
                              <a href="/movie/{{movie.movieId}}">
                                <div style="height: 155px; overflow:hidden;">
                                    <img class="pic" src="{{movie.picUrl.2}}" style="width:370px;" alt="">
                                </div>
                                <img class="see_more" src="/static/css/img/thumb_more.png">
                              </a>
                            </div>



                    <div class="userVobObj" id="{{vobId}}"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="{{user.name}}" src="{{user.picURL}}?type=square"></a> 
                            <div class="checkIn">
                                <strong><a href="/stats/{{user.userId}}/">{{user.name}}</a></strong><small> watching </small> <a href="/movie/{{movie.movieId}}/">{{movie.name}}</a>
                            <?php if($this->statsuser->isFollowing){?>
                            <a class="btn btn-small pull-right disabled hide"><i class="icon-ok"></i> Following </a>
                            <?php } else { ?> 
                            <a class="hideFollow{{user.userId}} btn btn-small btn-danger pull-right followInit hide" href="#followIt" tgt-uid="{{user.userId}}"><i class="icon-play icon-white"></i> Follow </a>
                             <?php } ?>
                                <div class="muted"><time class="timeago timeStamp" datetime="{{timestamp}}"></time></div>
                            </div>
                            <div class="review">{{{vobText}}}</div>
                        </div> <!-- /vobhead --> 
                        <div class="userResponseStats clearfix">
                            <span class="pull-left" id="voteResult{{vobId}}"> 
                                {{#userVotedUp}}
                                <i class="icon-chevron-up"></i>You LIKED this
                                {{/userVotedUp}}
                                {{^userVotedUp}}
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmUp{{vobId}}"><i class="icon-chevron-up"></i>LIKE</a> 
                                {{/userVotedUp}}
                            </span>
                        </div>
                        <div class="userResponseStats clearfix">
                           <span> <span class="label label-important" id="voteUpCount{{vobId}}">{{voteUpCount}}</span> LIKES </span> <span style="padding-left:1em;"> <span>{{vobComments.count}} </span><i class="icon-comment"></i> <a tgt-vid="{{vobId}}" class="showComment">COMMENTS</a></span>
                        </div>
                        <div id="showThis{{vobId}}" class="hide">
                        <div id="userReplies{{vobId}}">
                        {{#vobComments.comments}}
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="{{user.picURL}}?type=square"> 
                            <div class="userReplyText">
                                <b>    <a>{{user.name}}</a></b> {{commentText}}
                            </div>
                        </div>
                        {{/vobComments.comments}}
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"> 
                            <div class="userReplyText">
                                <textarea class="input-medium" rows="1" cols="50" id="txt{{vobId}}" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="{{vobId}}"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>
                        </div>
                    </div> <!--/userVobObj -->                
                    </div> <!--/thumbnail -->                
                </li> <!--/row -->                
{{/vobList}}
</script>

<script id="feedItemMoviesWatchedTmpl" type="text/template">


    {{#movieStats}}
    <li>

                                <div class="row">
                                    <div class="span1">
                                        <a href="/movie/{{movie.movieId}}">
                                            <img class="thumb" alt="movie thumb" style="width:76px; min-height:100px;" src="{{movie.picUrl.0}}">
                                        </a>
                                    </div>
                                    <div class="span3">
                                        <a class="link" href="/movie/{{movie.movieId}}">{{movie.name}}</a>
                                        <small><a href="/movie/{{movie.movieId}}">VOB's ({{movie.noOfVobs}})</a></small>
                                    </div>
                                    <div class="span2">
                                        <button data-toggle="tooltip" title="Watched/Watching {{movie.name}}?" class="btn btn-small btn-danger vobItInit" type="button" tgt-objid="{{movie.movieId}}" tgt-mvname="{{movie.name}}"><i class="icon-facetime-video icon-white"></i> VOB IT</button>
                                    </div>
                                </div>
                            </li>

    {{/movieStats}}



</script>


<script id="feedItemFollowersTmpl" type="text/template">
    {{#userList}}
    <li>
                                <div class="row">
                                    <div class="span1">
                                        <a href="/stats/{{userId}}">
                                            <img class="thumb" alt="user thumb" style="width:76px; min-height:70px;" src="{{picURL}}?width=76&height=76">
                                        </a>
                                    </div>
                                    <div class="span3">
                                        <a class="link" href="/stats/{{userId}}">{{name}}</a>
                                        <small><a href="/stats/{{userId}}">VOB's ({{noOfVobs}})</a> . <a href="/stats/{{userId}}">Followers ({{noOfFollowers}})</a></small>
                                    </div>
                                    <div class="span2">
                                    </div>
                                </div>
                            </li>
    {{/userList}}
</script>
<script id="feedItemFollowingTmpl" type="text/template">
    {{#userList}}
    <li>
                                <div class="row">
                                    <div class="span1">
                                        <a href="/stats/{{userId}}">
                                            <img class="thumb" style="width:76px; min-height:70px;" alt="user thumb" src="{{picURL}}?width=76&height=76">
                                        </a>
                                    </div>
                                    <div class="span3">
                                        <a class="link" href="/stats/{{userId}}">{{name}}</a>
                                        <small><a href="/stats/{{userId}}">VOB's ({{noOfVobs}})</a> . <a href="/stats/{{userId}}">Followers ({{noOfFollowers}})</a></small>
                                    </div>
                                    <div class="span2">
                                    </div>
                                </div>
                            </li>
    {{/userList}}
</script>
<div id="logInDialog" class="modal hide fade" data-backdrop="static"> 
   <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body"> 
              <div> <a style="margin-left:30%;" href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a> <img class="ajaxfb hide" src="/static/images/ajax-loader.gif"></div>
    </div>
</div>

