<div id="userImgURL" style="display:none"><?=$this->user->picURL;?></div>
<div id="userName" style="display:none"><?=$this->user->name;?></div>
	<div id="features" class="features_page">
        <div class="container">
            <div class="features1"> 
                <!-- header -->
               <h2 class="section_header">
                </h2> 

                <div class="row">
                    <div class="span12">
                    </div>
                </div>
          <div class="row hide">
                <div class="span3 offset2">
                    <div class="btn-group ui-controlgroup" data-toggle="buttons-radio">
                        <a href="#newsFeedRecent" type="button" class="btn">NewsfeedRecent</a>
                    </div>    
                </div>    
            </div>   
						<div class="row">
							<div class="alert span4 alert-block hide noitems offset4" style="margin-top:30px;">
								<h4>Sorry!</h4>
									No items to show. Please follow people on Voblr</br> To follow <a href="/search/">click here</a> and navigate to People tab.
							</div>
						</div>
				<div class="row" id="portfolio">
                  <div class="span12">
                      <ul class="thumbnails queryResult">
                      </ul>
                  </div>
				</div>
			
			<div class="spinner"><img src="/static/images/ajax-loader.gif"></div>

            </div>
        </div>
    </div> 

<a href="" class="scrollTopButton btn btn-large"><i class="icon-arrow-up"></i></a>
<div id="vobItModal" class="modal fade hide" data-backdrop="static">
	<div id="vobEdit">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><span style="padding-right: 10px;"><img src="<?=$this->user->picURL;?>?type=square"></span><?php echo $this->user->name  ?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
		</div>
		<div class="modal-body">
			<textarea id="mytextarea" class="input-xxlarge" placeholder="How's it, <?php echo $this->user->name ?>?"></textarea> 
		</div>
		<div class="modal-footer">
			<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">POST IT</button>
		</div>
	</div>
	<div id="vobSuc" class="hide alert alert-success">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<p><strong>Posted Successfully!</strong> </p>
		<p>To know the shows you watched and VOBBED <a id="statRedir" href="/stats/">click here</a> </p>
		<p>To see others VOB'S on this show <a id="movieRedir">click here</a> </p>
	</div>
</div>

<script id="newsFeedRecentTmpl" type="text/template">
{{#vobList}}
                <li class="span4 itemIterate marginBottom applyMasonry">
                          <div class="thumbnail">
                  
                            <div class="pic">
                              <a href="/movie/{{movie.movieId}}">
								<div style="height: 155px; overflow:hidden;">
									<img class="pic" src="{{movie.picUrl.2}}" style="width:370px;" alt="">
								</div>
                                <img class="see_more" src="/static/css/img/thumb_more.png">
                              </a>
                            </div>

                    <div class="userVobObj" id="{{vobId}}"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="{{user.name}}" src="{{user.picURL}}?type=square"></a> 
                            <div class="checkIn">
                                <strong><a href="/stats/{{user.userId}}/">{{user.name}}</a></strong><small> watching </small> <a href="/movie/{{movie.movieId}}/">{{movie.name}}</a>
                            {{#isFollowing}}
                            <a class="btn btn-small pull-right disabled hide"><i class="icon-ok"></i> Following </a>
                            {{/isFollowing}}
                            {{^isFollowing}}
                            <a class="hideFollow{{user.userId}} btn btn-small btn-danger pull-right followInit hide" href="#followIt" tgt-uid="{{user.userId}}"><i class="icon-play icon-white"></i> Follow </a>
                            {{/isFollowing}}
                                <div class="muted"><time class="timeago timeStamp" datetime="{{timestamp}}"></time></div>
                            </div>
                            <div class="review">{{{vobText}}}</div>
                        </div> <!-- /vobhead --> 
                        <div class="userResponseStats clearfix">
                            <span class="pull-left" id="voteResult{{vobId}}"> 
                                {{#userVotedUp}}
                                <i class="icon-chevron-up"></i>You LIKED this
                                {{/userVotedUp}}
                                {{^userVotedUp}}
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="{{movie.movieId}}" tgt-vid="{{vobId}}" id="rmUp{{vobId}}"><i class="icon-chevron-up"></i>LIKE</a> 
                                {{/userVotedUp}}
                            </span>
                        </div>
                        <div class="userResponseStats clearfix">
                           <span> <span class="label label-important" id="voteUpCount{{vobId}}">{{voteUpCount}}</span> LIKES </span> <span style="padding-left:1em;"> <span>{{vobComments.count}} </span><i class="icon-comment"></i> <a tgt-vid="{{vobId}}" class="showComment">COMMENTS</a></span>
                        </div>
                        <div id="showThis{{vobId}}" class="hide">
                        <div id="userReplies{{vobId}}">
                        {{#vobComments.comments}}
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="{{user.picURL}}?type=square"> 
                            <div class="userReplyText">
                                <b>    <a>{{user.name}}</a></b> {{commentText}}
                            </div>
                        </div>
                        {{/vobComments.comments}}
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=$this->user->picURL;?>?type=square"> 
                            <div class="userReplyText">
                                <textarea class="input-medium" rows="1" cols="50" id="txt{{vobId}}" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="{{vobId}}"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>
                        </div>
                    </div> <!--/userVobObj -->                
                    </div> <!--/thumbnail -->                
                </li> <!--/row -->                
{{/vobList}}
</script>


