   <div class="containerHeading">
    <h3>Password Recovery</h3>
	</div>
	<div class="desc">
	Just reset your password and its <font color="#D60718">done</font> ! <br>
	Your provided email is <b><?php echo $this->emailId ?></b>
	</div>
	
    <div class="mail">
    <form action="/passwordreset/changepassword" method="post">
      <input type="password" id="password" name="password" placeholder="Enter your new password ... " class="mail_text_box" />
      <br><br><br>
      <input type="password" id="rePassword" name="rePassword" placeholder="Re-enter your new password ... " class="mail_text_box"/>
      
      <input type="hidden" id="key" name="key" value="<?php echo $_GET['key'] ?>" />
      <br><br><br>
      <input type="submit" value="Reset Password" class="resetButton"/>
    </form>
     </a>
 	</div>
