		<!--		 <?= var_dump($this->moviedetail);?> -->

<div id="tgt-movieId" style="display:none"><?= var_dump($this->moviedetail["id"]);?></div>
<!-- new markup 
<div class="container">
    <section>
			<div class="uiButtonGroup"><a class="nav-item">Popular</a><a class="nav-item">Recent</a><a class="nav-item">Friends</a></div>

			<div class="btn-group text-center">
  <button class="btn btn-small">Popular</button>
  <button class="btn btn-small">Recent</button>
  <button class="btn btn-small">Friends</button>
</div>
	
			<article class="clearfix margin-top"> -->
			<!--	<div class="mv-info mosaic-block bar2 shadow-box">
					<span class="mosaic-overlay">
						<div class="mv-details">
							<div class="mv-name">Movie : Rang De Basanthi</div>
							<div class="mv-cast">Cast : Aamir khan, Siddharth</div>
							<div class="mv-vob-btn text-center"><a>Vob it</a> : <span class="mv-vob-count">200</span></a></div>
						</div>
					</span>
					<a href=""><img class="mv-large" alt="" src="<?=$this->moviedetail["imageURL"]?>" style="width:200px; height:200px;"></a>
				<h3 class="padding-ten">Movie : <?=$this->moviedetail["name"]?></h3>
				<h4 class="padding-ten">Cast : <?=$this->moviedetail["cast"]?></h4>
				<h4 class="padding-ten">Director : <?=isset($this->moviedetail["director"])?$this->moviedetail["director"] : "Director empty[ERR]" ?></h4>
				<h4 class="padding-ten">Vob : <?=$this->moviedetail["vobCount"]?></h4>
				<a class="fancybox vob-link padding-ten" movieid="<?=$this->moviedetail["id"]?>" moviename="<?=$this->moviedetail["name"]?>" href="#movie-vob-popup">vobIt</a>
				</div>
				-->
<!--
				<div class="user-vob-obj-collection">
					<div class="user-vob-obj white-bg shadow-box">
						<div class="user-vob-head">
							<img class="user-medium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="check-in">
							<b>	<a>Tanya</a></b> watching <b> <a>Rang De Basanthi</a></b> for 4th time.	
								<div class="time-stamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div>
						<div class="user-response-stats pointer clearfix">
							<a style="float: left;">Like </a> : 25 
							<span style="float: right;">Like if you found vob (review) useful</span> 
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!
well said bro..!! A perfect review..!!
bro..!! A perfect review..!!
							</div>
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Avi</a></b> The review sucks
							</div>
						</div>
						<div class="user-response-stats text-center"><a>&#x25BC; View 10 of 23 replies on this vob (review)...</a></div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div style="margin-left:42px;">
								<textarea rows="2" cols="52"> </textarea>					
							</div>
						</div>
					</div>
				</div>
			</article>
  </section>
</div>
<?php include_once $this->popupstemplate;?>
-->

        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
			<div class="row">
				<div class="span6 offset2 movieInfo shadow-box clearfix">
					<a href="<?=$this->moviedetail["imageURL"]?>" class="movieImageLarge pull-left" target="_blank"><img src="<?=$this->moviedetail["imageURL"]?>" alt="Profile Picture of Tanya Sri"></a>
					<div class="pull-left span4"> 
						<h3> <?=substr($this->moviedetail["name"],0,26);if(strlen($this->moviedetail["name"])>26){echo " ...";}?> </h3>
						<h6> <?=substr($this->moviedetail["cast"],0,40);if(strlen($this->moviedetail["cast"])>40){echo " ...";}?></h6>
						<h6> <?=$this->moviedetail["director"]?></h6>
						<button class="btn btn-small btn-danger vobItInit" tgt-objid="<?=$this->moviedetail["id"]?>" tgt-mvname="<?=$this->moviedetail["name"]?>"><i class="icon-pencil icon-white"></i>  Vob it</button>
					</div>	
				</div>
				<div class="span2 movieStats shadow-box">
					<div class="movieStatsAvoidPadding">
						<h6>Reviews on movie: <?=$this->moviedetail["vobCount"]?></h6>	
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span3 offset2">
					<div class="btn-group ui-controlgroup" data-toggle="buttons-radio">
						<a href="#feedItemRecent" type="button" class="btn">Recent</a>
						<a href="#feedItemPopular" type="button" class="btn">Popular</a>
						<a href="#feedItemFriends" type="button" class="btn">Following</a>
					</div>	
				</div>	
			</div>	
			<div class="userVobObjCollection vobCollection"> 

<!--
				<div class="row">
					<div class="span5 userVobObj shadow-box offset2"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="checkIn">
								<b><a>Avi</a></b><small> on <a>Rang De Basanthi</a></small><button rel="tooltip" title="Follow Tanya" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, ania's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
							</div>
						</div> 
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div> 	
				</div> 				


				<div class="row">
					<div class="span5 userVobObj shadow-box offset2"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="checkIn clearfix">

								<b><a>Tanya</a></b><small> on <a>Rang De Basanthi</a></small><button rel="tooltip" title="Follow Tanya" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-up"></i> Vote Up </button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-down"></i></button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span><span class="badge badge-important">10</span> out 12 found this review helpful.</span>	
						</div>
						<div class="userResponseStats clearfix">
							<button class="pull-left btn btn-mini"><i class="icon-comment"></i> View all replies </button> 
							<span class="pull-right">2 of 24</span> 
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div>				
				</div> 
			</div>
-->
        </div> <!-- /container -->
	</div>


<div id="vobItModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h5><?php echo $this->user->name  ?> watching <span id="movieName"></span> </h5>
	</div>
	<div class="modal-body">
		<textarea id="mytextarea" class="span5" placeholder="How was the movie.."></textarea>  
	</div>
	<div class="modal-footer">
		<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger">Post</button>
	</div>
</div>

<script id="feedItemRecentTmpl" type="text/template">
{{#vobList}}
				<div class="row">
					<div class="span5 userVobObj shadow-box offset2"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="checkIn">
								<b><a>Avi</a></b><small> on <a>Rang De Basanthi</a></small><button rel="tooltip" title="Follow Tanya" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">{{vobText}} 
							</div>
						</div> <!-- /vobhead --> 
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div> <!--/userVobObj -->				
				</div> <!--/row -->			

{{/vobList}}
</script>	
