<!-- new markup --> 
<!--
<div class="container">
	<section>
		<div id="recomendation">
			<nav id="movie-nav" class="shadow-box text-center">
				<a class="nav-item" id="recomendation-movies">Movies <span id="totalMovies"></span></a> 
				<a class="nav-item" id="recomendation-users">Users <span id="totalUsers"></span></a>
	        </nav>
	        <div id="recomendation-all">
				<div id ="recomendation-movies-list"> </div>
				<div id ="recomendation-users-list"> </div>
	        </div>
        </div>
    </section>
</div>
<?php include_once $this->popupstemplate;?>
<?php echo $this->user->name  ?>
<?php var_dump($this->user);  ?>
-->
<div class="spinner" style="display: none; position: fixed; top:50%; left:50%;"><img src="/static/images/ajax-loader.gif"> </div>
<!-- container/ -->
        <div class="container">
			<div class="row ui-controlgroup">
				<div class="btn-group span4 offset3" data-toggle="buttons-radio">
					<a href="#searchItemMovie" class="btn">Movies</a>
					<a href="#searchItemPeople" class="btn">People</a>
				</div>
			</div>
			<div class="searchResult">
				<!-- 
				<div class="row">                   
					<div class="span5 offset3 well well-small">
						<div class="clearfix">
							<span class="pull-left"><a><b>Transformers: Revenge of the Fallen</b></a></span>
							<button class="btn btn-small btn-danger pull-right" data-toggle="modal" data-target="#myModal"><i class="icon-pencil icon-white"></i> Howz it </button>
						</div>
						<div>
							<small><a class="muted">Reviews(0)</a></small> 
						</div>  
					</div>
				</div>	
				-->
			</div>
        </div> 
<!-- /container -->
<a href="" class="scrollTopButton btn btn-large"><i class="icon-arrow-up"></i></a>

<div id="vobItModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><?php echo $this->user->name  ?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
	</div>
	<div class="modal-body">
		<textarea id="mytextarea" style="height: 60px; resize:none;" class="input-xxlarge" placeholder="How was the movie.."></textarea> 
	</div>
	<div class="modal-footer">
		<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">Post</button>
	</div>
</div>

<!-- Templates/  -->
<script id="searchItemMovieTmpl" type="text/template">
	{{#movieList}}
		<div class="row">                   
			<div class="span5 offset3 well well-small" style="position:relative;">
				<a href="/movie/{{movieId}}/"><img class="userImageMedium" src="{{picUrl}}"></a>
				<div class="clearfix" style="margin-left:62px;">
					<span class="pull-left"><a href="/movie/{{movieId}}/"><b>{{name}}</a></b></span>
					<button class="btn btn-small btn-danger pull-right vobItInit" tgt-objid="{{movieId}}" tgt-mvname="{{name}}"><i class="icon-pencil icon-white"></i> Vob it </button>
				</div>
				<div style="margin-left:62px;">
					<small><a class="muted">Reviews on "{{name}}" ({{noOfVobs}})</a></small> 
				</div>  
			</div>
		</div>
	{{/movieList}}
</script>
<script id="searchItemPeopleTmpl" type="text/template">
	{{#userList}}
				<div class="row">
					<div class="span5 offset3 well well-small" style="position:relative;">
						<a href=""><img class="userImageMedium" src="{{picURL}}"></a>
						<div class="clearfix" style="margin-left:62px;">
							<label class="pull-left"><a><b>{{name}}</a></b></label><a href="#followIt" class="btn btn-small btn-danger pull-right followInit" tgt-uid="{{userId}}"><i class="icon-play icon-white"></i> Follow </a>
						</div>
						<div>
						<div style="margin-left:62px;">
							<small><a class="muted">Followers({{noOfFollowers}})</a> . <a class="muted">Reviewed({{noOfVobs}})</a></small>	
						</div>	
						</div>	
					</div>
				</div>
	{{/userList}}
</script>
<!-- /Templates  -->
