   <div class="containerHeading">
    <h3>Password Recovery</h3>
        </div>
        <div class="desc">
        Oops! It seems you forgot your password. Well<font color="#476D8A"> relax</font> it's not a big deal.
        <br>Just enter your mail address below.
        We will mail you instructions for a password reset.
        <br>Don't worry we will make it short and sweet!
        </div>
    <div class="mail">
    <form action="/passwordreset/send" method="post">
     <input type="email" name="email" id="email" placeholder="Let us know your email id here...."  class="mail_text_box" autofocus="true"/>
     &nbsp;<input type="submit" value="Send" class="sendButton"/>
     
    </form>
    
    </div>