    <div id="comingsoon" class="comingsoon_page">
        <div class="container">
            <div class="countdown">
              <div class="row">
                  <div class="span5 left">
					<div class="row">
						<div class="span2">
						<h4 class="muted">FACEBOOK</h4>
						<h4 class="muted">TWITTER</h4>
						<h4 class="muted">FOURSQUARE</h4>
						<h3>VOBLR</h3>
						</div>
						<div class="span3">
				
						<h4 class="muted"><em>i like DONUTS</em></h4>
						<h4 class="muted"><em>i'm eating a #DONUT</em></h4>
						<h4 class="muted"><em>this is where i eat DONUTS</em></h4>
						<h3><em>the DONUT is delicious</em></h3>
						</div>
					</div>
                  </div>
               <div class="span7 right">
                    <h1>It's time to Socialize your Opinions!</h1>
                <p class="muted"> You can explore the opinions of your friends on Movies, Music ,Places and Products. At present we are supporting Movies. </p>
                <h2><a href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a> <img class="ajaxfb hide" src="/static/images/ajax-loader.gif"></h2>
                  </div>  
              </div>
            </div>
            <div class="subscribe">
              <div class="row">
                <div class="span12">
                  <div class="follow">
                    <strong>Follow us</strong>
                    <a href="https://www.facebook.com/voblrindia" target="_blank">
                      <i class="social fb"></i>
                    </a>
                    <a href="https://www.facebook.com/voblrofficial" target="_blank">
                      <i class="social fb"></i>
                    </a>
                    <a href="https://twitter.com/voblr" target="_blank">
                      <i class="social tw"></i>
                    </a>
                    <a href="http://pinterest.com/voblr" target="_blank">
                      <i class="social pin"></i>
                    </a>
                    <a href="https://plus.google.com/b/117163999527422640199/117163999527422640199/posts" target="_blank">
                      <i class="social gp"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


<div id="logInDialog" class="modal hide fade" data-backdrop="static"> 

   <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body"> 
              <div> <a style="margin-left:30%;" href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a> <img class="ajaxfb hide" src="/static/images/ajax-loader.gif"></div>
    </div>

</div>
