<div id="userImgURL" style="display:none">
  <?=isset($this->user->picURL) ? $this->user->picURL : $this->defaultpicURL; ?>
</div>
<div id="userName" style="display:none"><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName;?></div>
<div id="tgt-vobId" style="display:none"><?=$this->vobDetail['vobId']?></div>
<!--<pre>
<?/*.=print_r($this->vobDetail);*/?> 
<pre> -->

    <div id="features" class="features_page">
        <div class="container">
            <div class="features1"> 
                <!-- header -->
               <h2 class="section_header">
                </h2> 

                <div class="row">
                    <div class="span12">
                    </div>
                </div>


				<div class="row" id="portfolio">
                  <div class="span4 offset4">
                      <ul class="thumbnails queryResult">
                <li class="span4 itemIterate marginBottom applyMasonry">
                          <div class="thumbnail">
                            <div class="pic">
                              <a href="/movie/<?=$this->vobDetail['movie']['movieId']?>/">
				<div style="height: 155px; overflow:hidden;">
				<img class="pic" src="<?=$this->vobDetail['movie']['picUrl'][2]?>" style="width:370px;" alt="">
				</div>
                                <img class="see_more" src="/static/css/img/thumb_more.png">
                              </a>
                            </div>
                    <div class="userVobObj" id="<?=$this->vobDetail['vobId']?>"> 
                        <div class="userVobHead">
                            <a href="/stats/{{user.userId}}/"><img class="userImageMedium" alt="<?=$this->vobDetail['user']['name']?>" src="<?=$this->vobDetail['user']['picURL']?>?type=square"></a> 
                            <div class="checkIn">
                                <strong><a href="/stats/<?=$this->vobDetail['user']['userId']?>/"><?=$this->vobDetail['user']['name']?></a></strong><small> watching</small> <a href="/movie/<?=$this->vobDetail['movie']['movieId']?>/"><?=$this->vobDetail['movie']['name']?></a>
                                <div class="muted" style="height: 21px;"><time class="timeago timeStamp" datetime="<?=$this->vobDetail['timestamp']?>"></time></div>
                            </div>
                            <div class="review"><?=$this->vobDetail['vobText']?></div>
                        </div> <!-- /vobhead --> 

                        <div class="userResponseStats clearfix">
                            <span class="pull-left" id="voteResult<?=$this->vobDetail['vobId']?>"> 
                               <?php if($this->vobDetail['userVotedUp'] == "true"){ ?>
                                <i class="icon-chevron-up"></i>You liked this
                               <?php } ?> 
                               <?php if($this->vobDetail['userVotedUp'] == "false"){ ?>
                                <a href="#voteUpIt" class="voteUpInit" tgt-mid="<?=$this->vobDetail['movie']['movieId']?>" tgt-vid="<?=$this->vobDetail['vobId']?>" id="rmUp<?=$this->vobDetail['vobId']?>"><i class="icon-chevron-up"></i>LIKE</a> .  
                               <?php } ?> 
                            </span>
                        </div>



                        <div class="userResponseStats clearfix">
                           <span class="pull-right"> 
                              <span class="label label-important" id="voteUpCount<?=$this->vobDetail['vobId']?>">
                                 <?= $this->vobDetail['voteUpCount'] ?>
                              </span> 
                              LIKES
                           </span> 
                           <span class="pull-left">
                              <span><?= $this->vobDetail['vobComments']['count']?> </span>
                              <i class="icon-comment"></i> 
                              <a tgt-vid="<?=$this->vobDetail['vobId']?>" class="showComment">Comments</a>
                           </span>
                        </div>








                        <div id="showThis<?=$this->vobDetail['vobId']?>" class="hide">
                        <div id="userReplies<?=$this->vobDetail['vobId']?>">

                        <?php if(isset($this->vobDetail['vobComments']) && isset($this->vobDetail['vobComments']['comments'])){ ?>
                            <?php foreach($this->vobDetail['vobComments']['comments'] as $comment){ ?>
                            <div class="userReply">
                                <img class="userImageSmall" alt="" src="<?=$comment['user']['picURL']?>?type=square"> 
                                <div class="userReplyText">
                                    <b><a><?=$comment['user']['name']?></a></b> <?=$comment['commentText']?>
                                </div>
                            </div>
                            <?php } ?>
                        <?php } ?>

					   	
                        </div>
                        <div class="userReply">
                            <img class="userImageSmall" alt="" src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"> 
                            <div class="userReplyText">
                                <textarea class="input-medium" rows="1" cols="50" id="txt<?=$this->vobDetail['vobId']?>" style="font-size: 100%; resize:none;"></textarea>
                                <button href="#replyIt" class="btn btn-mini replyInit" tgt-vobid="<?=$this->vobDetail['vobId']?>"><i class="icon-comment"></i> Comment </button>
                            </div>
                        </div>






                        </div>


                    </div> <!--/userVobObj -->   

</li>
</ul>

</div>
</div>
</div>
</div>
</div>


<div id="vobItModal" class="modal fade hide" data-backdrop="static">
	<div id="vobEdit">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><span style="padding-right: 10px;"><img src="<?=isset($this->user->picURL) ? $this->user->picURL.'?type=square' : $this->defaultpicURL; ?>"></span><?=isset($this->user->name) ? $this->user->name : $this->defaultUserName; ?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
		</div>
		<div class="modal-body">
			<textarea id="mytextarea" class="input-xxlarge" placeholder="How's it, <?=isset($this->user->name) ? $this->user->name : $this->defaultUserName; ?>?"></textarea> 
		</div>
		<div class="modal-footer">
			<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">POST IT</button>
		</div>
	</div>
	<div id="vobSuc" class="hide alert alert-success">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<p><strong>Posted Successfully!</strong> </p>
		<p>To know the shows you watched and VOBBED <a id="statRedir" href="/stats/">click here</a> </p>
		<p>To see others VOB'S on this show <a id="movieRedir">click here</a> </p>
	</div>
</div>

<div id="logInDialog" class="modal hide fade" data-backdrop="static"> 
   <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body"> 
              <div> <a style="margin-left:30%;" href="/auth/facebooklogin"><img class="fbLogin" alt="loginwithfb" src="/static/images/sel.png"></a> <img class="ajaxfb hide" src="/static/images/ajax-loader.gif"></div>
    </div>
</div>
