<!--  <input type="hidden" value="<?=$this->statsuserid?>" name="statsuserid" >
<h4>Vobfeeds by <?=$this->statsusername?> (<span id="total_vobfeeds"></span>)&nbsp;&nbsp;
<a href="#followers-following-popup" class="fancybox followers-popup" userid="<?=$this->statsuser->id?>" name="<?=$this->statsuser->name?>" img="<?=$this->statsuser->img?>" followersCount="<?=$this->statsuser->followersCount?>" >followers(<?=$this->statsuser->followersCount?>)&nbsp;&nbsp;</a>
<a href="#followers-following-popup" class="fancybox followings-popup" userid="<?=$this->statsuser->id?>" name="<?=$this->statsuser->name?>" img="<?=$this->statsuser->img?>" followingsCount="<?=$this->statsuser->followeingCount?>" >followings(<?=$this->statsuser->followeingCount?>)&nbsp;&nbsp;</a>
</h4>

<div>
<dl id="vobfeed_list">
</dl>
</div>
<?php include_once $this->popupstemplate;?>
	<div class="container">
		<section>
			<div class="profile text-center clearfix div-center"> 
				<a href="" class="profileImage shadow-box" style="float:left"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_n.jpg"></a>	
				<div class="shadow-box white-bg" style="width:700px; float:left;">
					<div id="bio-data" class="stats-box">Name </div>
					<div id="most-watched" class="stats-box">Movies watched </div>
					<div id="recently-watched" class="stats-box">Most watched </div>
					<div id="followers-following" class="stats-box">followers-following </div>
				</div>
			</div>
			<hr>
			<article class="clearfix">
				<div class="mv-info mosaic-block bar2 shadow-box">
					<span class="mosaic-overlay">
						<div class="mv-details">
							<div class="mv-name">Rang De Basanthi</div>
							<div class="mv-cast">Cast : Aamir khan, Siddharth</div>
							<div class="mv-vob-btn text-center"><a>Vob it</a> : <span class="mv-vob-count">200</span></a></div>
						</div>
					</span>
					<a href=""><img class="mv-large" alt="" src="http://upload.wikimedia.org/wikipedia/nv/1/1b/200px-Starbucks_Coffee_Logo.png"></a>
				</div>
				<div class="user-vob-obj-collection">
					<div class="user-vob-obj white-bg shadow-box">
						<div class="user-vob-head">
							<img class="user-medium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="check-in">
							<b>	<a>Tanya</a></b> watching <b> <a>Rang De Basanthi</a></b> for 4th time.	
								<div class="time-stamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div>
						<div class="user-response-stats pointer clearfix">
							<a style="float: left;">Like </a> : 25 
							<span style="float: right;">Like if you found vob (review) useful</span> 
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!
well said bro..!! A perfect review..!!
bro..!! A perfect review..!!
							</div>
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Avi</a></b> The review sucks
							</div>
						</div>
						<div class="user-response-stats text-center"><a>&#x25BC; View 10 of 23 replies on this vob (review)...</a></div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div style="margin-left:42px;">
								<textarea rows="2" cols="52"> </textarea>					
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="clearfix margin-top">
				<div class="mv-info mosaic-block bar2 shadow-box">
					<span class="mosaic-overlay">
						<div class="mv-details">
							<div class="mv-name">Rang De Basanthi</div>
							<div class="mv-cast">Cast : Aamir khan, Siddharth</div>
							<div class="mv-vob-btn text-center"><a>Vob it</a> : <span class="mv-vob-count">200</span></a></div>
						</div>
					</span>
					<a href=""><img class="mv-large" alt="" src="http://upload.wikimedia.org/wikipedia/nv/1/1b/200px-Starbucks_Coffee_Logo.png"></a>
				</div>
				<div class="user-vob-obj-collection">
					<div class="user-vob-obj white-bg shadow-box">
						<div class="user-vob-head">
							<img class="user-medium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="check-in">
							<b>	<a>Tanya</a></b> watching <b> <a>Rang De Basanthi</a></b> for 4th time.	
								<div class="time-stamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div>
						<div class="user-response-stats pointer clearfix">
							<a style="float: left;">Like </a> : 25 
							<span style="float: right;">Like if you found vob (review) useful</span> 
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!
well said bro..!! A perfect review..!!
bro..!! A perfect review..!!
							</div>
						</div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div style="margin-left:42px;">
							<b>	<a>Avi</a></b> The review sucks
							</div>
						</div>
						<div class="user-response-stats text-center"><a>&#x25BC; View 10 of 23 replies on this vob (review)...</a></div>
						<div class="user-reply">
							<img class="user-small" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div style="margin-left:42px;">
								<textarea rows="2" cols="52"> </textarea>					
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
-->

        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
			<div class="row">
				<div class="span6 offset2 movieInfo shadow-box clearfix">
					<a href="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_n.jpg" class="movieImageLarge pull-left" target="_blank"><img src="<?=$this->statsuser->img?>" alt="Profile Picture of Tanya Sri"></a>
					<div class="pull-left span4"> 
							<h3> <?=$this->statsuser->name?> </h3>
							<h6 style="word-wrap: break-word;">(d) I am cool, sfasarcastic now a days Babu</h6>
							<h6>(d) Mumbai, Maharashtra</h6>
							<button class="btn btn-small btn-danger"><i class="icon-play icon-white"></i>  Follow</button>
							<button class="btn btn-small"><i class="icon-stop"></i> Unfollow</button> 
					</div>	
				</div>
				<div class="span2 movieStats shadow-box">
					<div class="movieStatsAvoidPadding">
						<h6>Reviews's : <a><?=$this->statsuser->vobCount?></a> </h6>	
						<h6>Followers : <a><?=$this->statsuser->followersCount?></a> </h6>	
						<h6>Following : <a><?=$this->statsuser->followeingCount?></a> </h6>	
						<h6>Points : <a>60d</a> </h6>	
					</div>
				</div>
			</div>
			<hr>
			<div class="userVobObjCollection">
				<div class="row">
					<div class="span2 offset2 mv-info mosaic-block bar2 shadow-box">
						<span class="mosaic-overlay">
							<div class="mv-details">
								<div class="mv-name">Rang De Basanthi</div>
								<div class="mv-cast">Cast : Aamir khan, Siddharth</div>
								<div class="mv-vob-btn"><a><button class="btn btn-mini btn-danger"><i class="icon-pencil icon-white"></i> Howz it</button></a></a></div>
							</div>
						</span>
						<a href=""><img class="movieImageVob" alt="" src="http://upload.wikimedia.org/wikipedia/en/5/5f/RDB_poster.jpg"></a>
					</div>
					<div class="span5 userVobObj shadow-box"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="checkIn clearfix">

								<b><a>Tanya</a></b><small> on <a>Rang De Basanthi</a></small><button rel="tooltip" title="Follow Tanya" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div> <!-- /vobhead --> 
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-up"></i> Vote Up </button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-down"></i></button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span><span class="badge badge-important">10</span> out 12 found this review helpful.</span>	
						</div>
						<div class="userResponseStats clearfix">
							<button class="pull-left btn btn-mini"><i class="icon-comment"></i> View all replies </button> 
							<span class="pull-right">2 of 24</span> 
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div> <!--/userVobObj -->				
				</div> <!--/row -->				

				<div class="row">
					<div class="span2 offset2 mv-info mosaic-block bar2 shadow-box">
						<span class="mosaic-overlay">
							<div class="mv-details">
								<div class="mv-name">Dil chahtha hai</div>
								<div class="mv-cast">Cast : Saif, Preethi</div>
								<div class="mv-vob-btn"><a><button class="btn btn-mini btn-danger"><i class="icon-pencil icon-white"></i> Howz it</button></a></a></div>
							</div>
						</span>
						<a href=""><img class="movieImageVob" alt="" src="http://upload.wikimedia.org/wikipedia/en/d/db/Dil_Chahta_Hai.jpg"></a>
					</div>
					<div class="span5 userVobObj shadow-box"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="checkIn">
								<b>	<a>Avi</a></b><small> on <a>Rang De Basanthi</a></small> 	<button rel="tooltip" title="Follow Avi" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, ania's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
							</div>
						</div> <!-- /vobhead --> 
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div> <!--/userVobObj -->				
				</div> <!--/row -->				

			</div><!--/userVobobjcollection -->				
        </div> <!-- /container -->


<script id="feedItemStatTmpl" type="text/template">
				<div class="row">
					<div class="span2 offset2 mv-info mosaic-block bar2 shadow-box">
						<span class="mosaic-overlay">
							<div class="mv-details">
								<div class="mv-name">Rang De Basanthi</div>
								<div class="mv-cast">Cast : Aamir khan, Siddharth</div>
								<div class="mv-vob-btn"><a><button class="btn btn-mini btn-danger"><i class="icon-pencil icon-white"></i> Howz it</button></a></a></div>
							</div>
						</span>
						<a href=""><img class="movieImageVob" alt="" src="http://upload.wikimedia.org/wikipedia/en/5/5f/RDB_poster.jpg"></a>
					</div>
					<div class="span5 userVobObj shadow-box"> 
						<div class="userVobHead">
							<img class="userImageMedium" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/370656_100000490412078_763200304_q.jpg"> 
							<div class="checkIn clearfix">

								<b><a>Tanya</a></b><small> on <a>Rang De Basanthi</a></small><button rel="tooltip" title="Follow Tanya" class="btn btn-small pull-right"><i class="icon-play"></i> Follow </button> 
								<div class="timeStamp">2hrs ago</div>
							</div>
							<div class="review">"The film was released globally on 26 January 2006, the Republic Day of India, and subsequently was nominated for Best Foreign Language Film at the 2006 BAFTA Awards. Rang De Basanti was chosen as India's official entry for the Golden Globe Awards and the Academy Awards in the Best Foreign Language Film category, though it did not ultimately yield a nomination for either award. A. R. Rahman's soundtrack, which earned positive reviews, had two of its tracks considered for the Academy Award nomination. The film was well received by critics and audiences for its production values and had a noticeable influence on Indian society. In India, Rang De Basanti did well at many of the Bollywood awards ceremonies, including a win for Best Movie at the Filmfare Awards. Yeah the movie is excellent.. 
											BBit sentimental but enjoyed a lot lot lotit sentimental bli
												ut enjoyed a lot lot lot ......"
							</div>
						</div> <!-- /vobhead --> 
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini"><i class="icon-chevron-up"></i> Vote Up </button> 
								<button class="btn btn-mini"><i class="icon-chevron-down"></i></button> 
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-up"></i> Vote Up </button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span>Was this review helpful?
							<span class="pull-right"> 
								<button class="btn btn-mini disabled"><i class="icon-chevron-down"></i></button> 
								<a> (x)</a>
							</span>
						</div>
						<div class="userResponseStats clearfix">
							<span><span class="badge badge-important">10</span> out 12 found this review helpful.</span>	
						</div>
						<div class="userResponseStats clearfix">
							<button class="pull-left btn btn-mini"><i class="icon-comment"></i> View all replies </button> 
							<span class="pull-right">2 of 24</span> 
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157809_1144340472_1267789768_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Abhi</a></b> well said well said bro..!! A perfect review..!!well said bro..!! A perfect review..!!bro..!! A perfect review..!!
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572212_100000051127351_366250568_q.jpg"> 
							<div class="userReplyText">
							<b>	<a>Avi</a></b> Worst review i have ever read 
							</div>
						</div>
						<div class="userReply">
							<img class="userImageSmall" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/211458_100000609136952_2459003_q.jpg"> 
							<div class="userReplyText">
							<textarea class="span4 userComment"> </textarea>
							<button class="btn btn-mini"><i class="icon-comment"></i> Reply </button>
							</div>
						</div>
					</div> <!--/userVobObj -->				
				</div> <!--/row -->				
</script>

