<div id="tgt-userId" style="display:none"><?= $this->user->id;?></div>
<div id="tgt-userhideId" style="display:none"><?= $this->user->id;?></div>
	<div id="features" class="features_page">
        <div class="container">
            <div class="features1">
                <!-- header -->
                <h2 class="section_header">
                </h2> 

                <div class="row">
                    <div class="span12">
                    </div>
                </div>

	<div class="row">	
		<div class="offset3 span5 well well-large input-append" style="padding-right: 0px;" data-toggle="popover" title="STEP 2" data-content="Search for the SHOW you Watched/Watching (or) Choose from the List below and click VOB IT">
			<form id="target" class="form-search" style="margin: 0px;">
				<input type="text" class="span4" id="appendedInputButtons" placeholder="Search Movies and People ..">
				<button type="submit" class="btn"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
	<div class="row ui-controlgroup">
		<div class="btn-group span4 offset3" data-toggle="buttons-radio">
			<a href="#searchItemMovie" flag="0" class="btn">Movies</a>
			<a href="#searchItemPeople" flag="1" class="btn">People</a>
		</div>
	</div>
						<div class="row">
							<div class="alert span4 alert-block hide noitems offset4" style="margin-top:30px;">
								<h4>Sorry!</h4>
									No items to Show
							</div>
						</div>
    <div class="row">
		<div class="span6 offset3 sidebar">
						<ul class="recent_posts queryResult">
						</ul>
		</div>
	</div> 
	<div class="spinner"><img src="/static/images/ajax-loader.gif"></div>


            </div>
        </div>
    </div>


<!-- /container -->

<a href="" class="scrollTopButton btn btn-large"><i class="icon-arrow-up"></i></a>
<div id="vobItModal" class="modal fade hide" data-backdrop="static">
	<div id="vobEdit">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h5><span style="padding-right: 10px;"><img src="<?=$this->user->picURL;?>?type=square"></span><?php echo $this->user->name  ?><span class="muted"> watching </span> <strong><span id="movieName"></span></strong></h5>
		</div>
		<div class="modal-body">
			<textarea id="mytextarea" class="input-xxlarge" placeholder="How's it, <?php echo $this->user->name ?>?"></textarea> 
		</div>
		<div class="modal-footer">
			<button id="vobItNow" href="#vobIt" class="btn btn-small btn-danger" data-loading-text="Posting ...">POST IT</button>
		</div>
	</div>
	<div id="vobSuc" class="hide alert alert-success">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<p><strong>Posted Successfully!</strong> </p>
		<p>To know the shows you watched and VOBBED <a id="statRedir" href="/stats/">click here</a> </p>
		<p>To see others VOB'S on this show <a id="movieRedir">click here</a> </p>
	</div>
</div>

<!-- Templates/  -->
<script id="searchItemMovieTmpl" type="text/template">

	{{#movieList}}

    <li style="float:left;">
                                <div class="row">
                                    <div class="span1">
                                        <a href="/movie/{{movieId}}">
                                            <img class="thumb" alt="movie thumb" style="width:76px; min-height:100px;" src="{{picUrl.0}}">
                                        </a>
                                    </div>
                                    <div class="span3">
                                        <a class="link" href="/movie/{{movieId}}">{{name}}</a>
                                        <small><a href="/movie/{{movieId}}">VOB's ({{noOfVobs}})</a></small>
                                    </div>
                                    <div class="span2">
										<button data-toggle="tooltip" title="Watching/Watched {{name}}?" class="btn btn-small btn-danger vobItInit" type="button" tgt-objid="{{movieId}}" tgt-mvname="{{name}}"><i class="icon-facetime-video icon-white"></i> VOB IT</button>
                                    </div>
                                </div>
                            </li>

	{{/movieList}}
</script>
<script id="searchItemPeopleTmpl" type="text/template">
	{{#userList}}
    <li style="float:left;">
                                <div class="row">
                                    <div class="span1">
                                        <a href="/stats/{{userId}}">
                                            <img class="thumb" style="width:76px; min-height:70px;" alt="user thumb" src="{{picURL}}?width=76&height=76">
                                        </a>
                                    </div>
                                    <div class="span3">
                                        <a class="link" href="/stats/{{userId}}">{{name}}</a>
                                        <small><a href="/stats/{{userId}}">VOB's ({{noOfVobs}})</a> . <a href="/stats/{{userId}}">Followers ({{noOfFollowers}})</a> . <a href="/stats/{{userId}}">Points ({{reputation}})</a></small>
                                    </div>
                                    <div class="span2">
							{{#isFollowing}}
							<a class="btn btn-small disabled hideFollow{{userId}}"><i class="icon-ok"></i> Following </a>
							{{/isFollowing}}
							{{^isFollowing }}
							<a data-toggle="tooltip" title="Follow {{name}}" tmp="{{isFollowing}}" class="hideFollow{{userId}} btn btn-small btn-danger followInit" href="#followIt" tgt-uid="{{userId}}"><i class="icon-play icon-white"></i> Follow </a>
							{{/isFollowing}}
                                    </div>
                                </div>
                            </li>
	{{/userList}}
</script>
<!-- /Templates  -->
