/* for layouts -  just go in the order margin - width - padding
   for every element keep only margin-top
   not stating heights for the elements

 */
body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif; /* if the browser doesnot support first font it will go to next font */
	font-size: 12px;
	line-height: 1.4;	/* this is number - we can measure the size in terms of px,pt,em and percent and numbers in html - generally 1em = 12pt = 16px = 100% */
	border-top: 4px solid #D60718;     
}
a , a:visited {
	color: #0088CC;
    text-decoration: none;
    cursor: pointer;
    outline: medium none; /* line that is drawn around elements (outside the borders) */
}
a:hover{
	text-decoration: underline;
}

/* wrapper */
.frame{
	margin: 0 auto;
	width:960px;
}

/* footer */
footer {
	margin:27px auto 0px;
	width: 240px;
    border-top: 1px solid #E0E0E0;
}
.footers {
	margin-top: 2px;
	padding-left:11px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.copyRight {
	margin: 10px 0px;
	text-align:center;
    color: #BCBCBC;
    font-size: 12px;
}