/* Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif; /* if the browser doesnt support first font it will go to next font */
	vertical-align: baseline;
	color:#222;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common CSS */
body {
 line-height: 1.5;
 background: url("/static/images/body-bg.png") repeat fixed 0 0 #F5F5F5; /* change the link to the images folder */
 
 }
h1{
    font-weight:bold;
	font-size:20px;
}
a{
	color:#3B5998;
	text-decoration:none;
	cursor:pointer;
}
a:hover{
	text-decoration:underline;
}
.shadow-bottom{
	box-shadow: 0 3px 2px -2px #C0C0C0;
	-moz-box-shadow: 0 3px 2px -2px #C0C0C0;
	-webkit-box-shadow: 0 3px 2px -2px #C0C0C0;
}
.shadow-box{
	position:relative; /*(In our case this property was overwritten by masonry as position:absolute) */
	box-shadow: 0 2px 5px #AAAAAA;
	-moz-box-shadow: 0 2px 5px #AAAAAA;
	-webkit-box-shadow: 0 2px 5px #AAAAAA;
}
.shadow-drop:before, .shadow-drop:after 
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow-drop:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.white-bg{
	background-color:#ffffff;
}
.fixed-div{
	width:100%;
	z-index:1;
}
.clear-fix{
	clear:both;
}
.content{
	padding:10px;
	background-color: #f2f2f2;
	margin-top:1px;
	position:relative;
}
.pointer{
	cursor:pointer;
}
.scroll-top{
	background-color: #3B5998;
	width:40px;
	color:white;
	bottom:0px;
	right:10px;
	position:fixed;
	padding:10px;
	cursor:pointer;
	display:none;
	z-index:1;
}
.block-it{
	display:block;
}
.text-center{
	margin-top:20px;
	text-align:center;
	color: #3B5998;
}
.relative{
	position:relative;
}

/* All headers and navigation*/
.top-div .logo{
	width:150px;
	padding:4px;
	margin: 0px auto;
}
.nav{
	text-align:center;
	border-top: 1px solid #C0C0C0;
	font-size:82%;
}
.nav-item{
	display:inline-block; 
	border-bottom:5px solid #3B5998; 
	padding:3px 7px;
	cursor:pointer;
	color:#3B5998;
}
.nav-item1{
	display:inline-block; 
	border-bottom:5px solid white; 
	padding:3px 7px;
	cursor:pointer;
	color:#3B5998;
}
.nav-item1:hover{
	    border-bottom:5px solid #3B5998; 
	    cursor:pointer;
}
.nav-stats{
	text-align:center;
	font-size:82%;
	width:750px;
	margin:20px auto;
}
.nav-item3{
	display:inline-block; 
	border-bottom:5px solid #3B5998; 
	padding:3px 7px;
	cursor:pointer;
	color:#3B5998;
	margin-right:30px;
}
.nav-item4{
	display:inline-block; 
	border-bottom:5px solid white; 
	padding:3px 7px;
	cursor:pointer;
	color:#3B5998;
	margin-right:30px;
}
.nav-item4:hover{
	    border-bottom:5px solid #3B5998; 
	    cursor:pointer;
}

/* Social division */
.social{
	text-align:center;
	margin-top:20px;
}


/* containers */
.container{
	margin: 0 auto;
	max-width:960px;
}
section{
	margin:0 auto;
}
/* All loaders */
.init-loader{
	text-align:center;
	margin-top:100px;
}
.next-loader{
	 clear:both;
	 text-align:center;
	 margin:30px;
	 display:none;
}
.next-loader img{
	vertical-align:middle;
}

/* login page specific */
.main-adv{
	margin-top:15px;
}
#hover-gap{
	margin-top:30px;
	width:954px;
	padding:3px;
}
#get-start {
	margin: 0 auto; 
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#f2f2f2;	
}
#logins{
	padding-top:20px;
	padding-bottom:3px;
}
.vb-login{
	display:inline:block;
	color:white;
	background-color:#476d8a;
	font-size:13px;
	cursor:pointer;
	padding:5px 10px;
	border-radius: 2px;
	margin:10px;
}
.fb-login{
	display:inline-block;
	cursor:pointer;
	vertical-align:top;
}
.vb-login a{
		color:white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		font-weight:bold;
	
}
.or-small{
	color:gray;
	font-size:12px;
	margin:10px;
}
#main-logins {
	width: 440px;
	padding:20px;
	font-size:82%;
}
.logins-vob{
	margin: 20px auto 0px;
	width:250px;
}
.logins-vob h1{
    font-size: 116%; 
    font-weight: bold;  
    color:#3B5998; 
}

.vob-ul {
	list-style: none outside none;	
}
.ul-field {
    margin-bottom: 10px;
    
}
.ul-field label {
    color: #9E9E9E;
    display: block;
    font-size: 95%;
    margin: 0 0 7px;
    width: auto;
}
label a {
    float: right;
}
.field-login, .field-password {
	width: 250px;
	font-size: 15px;
    padding: 7px 8px;
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    resize: none;
     
}
.field-login:focus, .field-password:focus {
    border-color: rgba(132, 185, 211, 0.8) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
    outline: 0 none;
}
.divp {
    color: #A1A1A1;
    line-height: 1.4;
    margin-bottom: 1em;
}


/* Newsfeed specific*/
article {
  width: 200px;
  float: left;
  font-size: 10px;
  margin-top:20px;
  position:absolute;
}
article img {
	border: none;
	margin:0;
}

/* movie page and timeline page specific */
.main-profile {
	background-color:#ffffff;
	overflow:hidden;
	margin: 0 auto;
	margin-top:20px;
	font-size:82%;
	width:750px;
}
.profile-pic{
	height:200px;
}
.profile-data{
	width:300px;
	padding:10px;
	margin-left:10px;
}
.profile-stats{
	width:120px;
	padding:10px;
}
.display-feed{
	width:480px;
	background-color:#ffffff;
	padding:3px;
	margin:30px auto;
	font-size:80%;
}


.mosaic-block {
	position:relative;
	overflow:hidden;
	width:200px;
	height:125px;
	background:#fff no-repeat center center;
}
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;
	background:#111;
	}
.bar2 .mosaic-overlay {
	bottom:-40px;
	height:75px;
	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80);
	}
.bar2 .mosaic-overlay:hover {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
    }
.details{ margin:10px 20px; }	
h4{ font:300 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:100%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
p{ font:300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0);}

.howzit-button a{
	padding:5px;
	color:white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		font-weight:bold;
}
