/* change1 in bootstrap.css :  Removing max-width: 100% for img css -- inorder to display the fb profile image better -- it may disable reponsive behaviour for images  */
/* change2 in bootstrap.css and main.css: Removing font-family in bootstrap and adding in main.css */
/* change3 in main.css : Adding the background image for the body */
/* change4 in bootstrap.css : changing the images link to our voblr images folder */
/* change5 in bootstrap.css : changing the input-xxlarge width 510 from 530px */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
html,
button,
input,
select,
textarea {
    font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif; /* prev -- sans-serif; */
}
*/
/*  Global  */
/*body {
    background: #f5f5f5 url("/static/images/body-bg.png") repeat;
}

.adjustHowzit {
	padding-left: 60px;		
}
*/
.fbLogin {
	cursor: pointer;
	margin-left: 50px;
}
/*.container{
	margin-bottom: 20%;
} */
.spinner {
	display: none;
	position: absolute;
	left: 50%;	
/*	right: 50%; */
	margin-top: 50px;
}
.marginBottom {
	margin-bottom: 20px;
}
.applyMasonry {
	float: left;
	width: 370px;
}

/* Slick effects shadow  */
/*
#box {
  position: relative;
  background: #fff;
  -moz-border-radius: 4px;
  border-radius: 4px; 
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
}


#box:before, #box:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#box:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
*/
/* User and Movie Showcase */

.movieInfo {
	background-color: white;
}

.movieImageLarge {
	height: 165px;
	max-width: 160px;
	overflow: hidden; 
}

.movieImageLarge img{
	height: 100%;
}

.movieStats {
	background-color: white;
	min-height: 165px;
}

.movieStatsAvoidPadding {
	padding: 15px 15px;
}


/* User Vob Obj Collection */

/* movie info left column */
.mv-info {
	margin-top: 20px;
}

.movieImageVob {
	width: 370px;
}

.mosaic-block {
	position: relative;
	overflow: hidden;
	height: 120px;
	background: #fff no-repeat center center;
}
.mosaic-overlay {
	display: none;
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
}
.bar2 .mosaic-overlay {
	bottom: -53px;
	height: 85px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}
.bar2 .mosaic-overlay:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.mv-details { 
	margin:10px 10px; 
}	
.mv-name { 
	font: 300 13px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.4; 
	letter-spacing:0.15em; 
	color:#fff; 
	text-shadow:1px 1px 0 rgb(0,0,0); 
}
.mv-cast { 
	font: 300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; 
	color:#fff; 
	text-shadow:1px 1px 0 rgb(0,0,0);
}
.mv-vob-btn {
	margin-top: 10px;
}
.mv-vob-count {
	color: white;
}

/* Vob info right column */
.userVobObj {
	background-color: white;
}
.userVobHead {
	position: relative;
	padding: 10px;
}
.userImageMedium {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
}
.userImageMed {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 45px;
}

.checkIn {
	margin-left: 62px;
}
.timeStamp {
	font-size: 80%;
}
.review {
	margin-top: 20px;
	font-size: 95%;
}
.userResponseStats {
	padding: 5px 10px;
	background-color: whiteSmoke;
	margin-top: 1px;
	font-size: 82%;
}
.userReply {
	padding: 10px;
	background-color: whiteSmoke;
	margin-top: 1px;
	position: relative;
	font-size: 85%;
	min-height: 32px;
}
.userReplyText {
	margin-left: 42px;
}
.userImageSmall {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 32px;
	height: 32px;
}
/*
.userComment {
	font-size: 85%;
	line-height: 1;
	height: 23px;
	resize: none;	
}
*/
.showComment {
	cursor: pointer;
}
/* search*/
.queryResult {
	margin-top: 20px;
}

/* scroll to top */
.scrollTopButton {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 0;
}

/* semantic classes*/
.shadow-box {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
}
