<?php echo($this->doctype() . "\n"); ?>
<?php
  $auth = new Project_Business_Auth();
  $user = $auth->checkAuthenticatedUser();
?>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
        <meta property="fb:app_id" content="270237853057532" /> 
        <meta property="og:type"   content="<?=$this->ogtype?>" />
        <meta property="og:url"    content="<?=$this->ogurl?>" /> 
        <meta property="og:title"  content="<?=$this->ogtitle?>" /> 
        <meta property="og:image"  content="<?=$this->ogimage?>" /> 

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> <?php if($this->vTitle){echo $this->vTitle;}else {echo "Voblr - Login, SignUp";} ?></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <?= $this->headLink() ?>
	    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico?v=7" />

    </head>
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
<?php if($this->user) {?>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
			</a>
			<a class="brand" href="/newsfeed">
                <img style="height:34px;" src="/static/images/mainlogo.png" alt="logo" />
            </a>
			<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                            <li><a href="/newsfeed">Newsfeed</a></li>
                            <li><a href="/stats"><?php echo $this->user->name  ?></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn-header popoverOne" data-toggle="popover" title="STEP 1: Watched/Watching a Movie?" data-placement="bottom" data-content="Tell your friends the movie you are watching and your opinion." href="/search">VOB NOW!</a>
                    </li>
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
<div id="loginCheck" class="hide">1</div>

<?php }else{ ?>
  <!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">
                <img style="height: 34px;" src="/static/images/mainlogo.png" alt="logo" />
            </a> 
			<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a class="btn-header dialogCtrl" href="#logInDialog">Sign in</a></li>
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
<div id="loginCheck" class="hide">0</div>
<?php } ?>


<?php
  echo $this->layout()->content
?>
<?= $this->headScript() ?>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35037260-1']);
  _gaq.push(['_setDomainName', 'voblr.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=270237853057532";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
